@use "global";

.swiper {
  width: 92%;
  aspect-ratio: 16 / 9;
}

.swiper-pagination-bullet-active {
  background: global.$main-strong-pink;
  opacity: 1;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 35px;

  img {
    width: auto;
    height: 95%;
    object-fit: cover;
  }
}