$thistle: #cdb4dbff;
$main-light-pink: #ffd0d817;
$main-pink: #ffcad3;
$icy-blue: #bde0feff;
$main-blue: #79bdfd;

html {
  scrollbar-gutter: stable;
}

* {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $main-light-pink;
  overflow-x: hidden;

  .no-scroll {
    overflow: hidden;
  }
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 0.25rem 0;
}

.w-100 {
  width: 100%;
}