$main-strong-pink: #ff7e95;
$main-light-pink: #ffd0d817;
$main-pink: #ffcad3;
$icy-blue: #bde0feff;
$main-blue: #79bdfd;

html {
  scrollbar-gutter: stable;
}

* {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $main-strong-pink;
  overflow-x: hidden;
  overflow-y: auto;

  .no-scroll {
    overflow: hidden;
  }
}

#app {
  opacity: 1;
  width: 100%;
  min-height: 100%;
}

.d-none {
  display: none !important;
}