.section {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-body {
  width: 100%;
  height: auto;
}

.modelo-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 1.5rem 0;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.product-characteristics {
  padding: 0 1rem;
}

.product-characteristic {
  font-weight: bold;
  text-align: justify;
  padding-bottom: 0.4rem;
}

.to-next-section-icon {
  width: 50px;
  aspect-ratio: 1;
}